name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-w-conda-recipe:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: ilammy/msvc-dev-cmd@v1
        if: matrix.os == 'windows-latest'
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: setup conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          auto-activate-base: true
          activate-environment: ""
          channel-priority: strict
          miniforge-version: latest
          conda-solver: libmamba
          conda-remove-defaults: true
      - name: linux conda build test
        if: matrix.os == 'ubuntu-latest'
        shell: bash -l {0}
        run: |
          conda install -n base -c conda-forge conda-build -y
          xvfb-run conda build -c conda-forge conda-recipe
      - name: osx conda build test
        if: matrix.os == 'macos-latest'
        shell: bash -l {0}
        run: |
          conda install -n base -c conda-forge conda-build -y
          conda build -c conda-forge conda-recipe
      - name: windows conda build test
        if: matrix.os == 'windows-latest'
        shell: cmd /C CALL {0}
        # auto activation of env does not seem to work on win
        run: |
          conda install -n base -c conda-forge conda-build -y & conda build -c conda-forge conda-recipe
